.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.synopsis {
  padding: 20px;
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.synopsis span {
  text-decoration: line-through;
}

.linkwrapper {
  margin-top: 50px;
}

.link {
  /* font-size: 30px; */
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 25px;
  border: 1px solid #222;
  border-radius: 8px;
  cursor: pointer;
}

.link h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.link h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
}

.link span {
  font-size: 20px;
}

.link:hover,
.link:active {
  background-color: #f9d;
  text-decoration: underline;
}

.ppl_link {
  padding: 2px 10px;
}

.ppl_link:hover,
.ppl_link:active {
  background-color: #f9d;
  text-decoration: underline;
}

.clerk_wrapper {
  height: 500px;
  margin: 40px 10px;
  padding: 10px;
  /* width: 400px; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.credits_title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.freeway_sign {
  text-align: center;
}

.freeway_sign button[component='SignOutButton'] {
  text-align: center;
  padding: 20px 30px;
  cursor: pointer;
  width: 350px;
  font-size: 22px;
  font-weight: bold;
  background-color: #248524;
  color: #eee;
  border: 5px solid #fff;
  border-radius: 20px;
  line-height: 1.6;
}

.freeway_sign button[component='SignOutButton']:hover {
  background-color: #2fb32f;
  cursor: pointer;
  text-decoration: underline;
}

.not_done {
  padding: 20px 40px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--accent-1);
  border: 1px solid #222;
  border-radius: 8px;
}

.not_done:hover {
  background-color: var(--accent-2);
  cursor: pointer;
  text-decoration: underline;
}
