.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.experiences_header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experiences_content {
  padding: 40px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 60vh;
}

.experience_card {
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: #efe;
  border: 3px solid #222;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  margin-top: 100px;
}

.back_link {
  margin: 100px 0;
  font-size: 18px;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--primary);
}

.back_link:hover {
  text-decoration: underline;
  background-color: var(--accent-2);
}

.experience_text {
  text-align: center;
  font-size: 1.1rem;
}

.experience_result {
  text-align: center;
  font-weight: 600;
}
