@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

html {
  font-size: 100%;
}

:root {
  /* colors */
  --oldback: #e0fcff;

  --back: linear-gradient(rgb(167, 215, 233), #a6a6c6);
  /* --text-color: #262626; */
  --text-color: #060606;

  --primary: #eacda3;
  --secondary: #597598;
  --accent-1: #f37a6a;
  --accent-2: #8fd5c2;
  --neutral-light: #fbf7f2;
  --neutral-dark: #262626;
  --highlight: #a78cc0;
}

html,
body {
  /* padding: 0; */
  /* margin: 0; */
  font-family: 'Space Mono', monospace;
}

body {
  background-image: var(--back);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Roboto, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
