@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

html {
  font-size: 100%;
}

:root {
  /* colors */
  --back: #e0fcff;
  --text-color: #333;
}

html,
body {
  /* padding: 0; */
  /* margin: 0; */
  font-family: 'Space Mono', monospace;
}

body {
  background-color: var(--back);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Roboto, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
