.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.places_header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.places_content {
  padding: 40px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 60vh;
}

.gear_column {
  min-width: 450px;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 1px solid #222; */
  border-radius: 3px;
  padding: 5px 15px;
}

.interactions_column {
  min-width: 450px;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 1px solid #222; */
  border-radius: 3px;
  padding: 5px 15px;
}

@media screen and (max-width: 600px) {
  .places_content {
    flex-direction: column;
    align-items: center;
  }

  .gear_column,
  .interactions_column {
    max-width: 90vw;
    min-width: 260px;
  }
}

.back_link {
  /* display: block; */
  margin: 100px 0;
  font-size: 18px;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--primary);
}

.back_link:hover {
  text-decoration: underline;
  background-color: var(--accent-2);
}
