.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.back_link {
  /* display: block; */
  margin: 100px 0;
  font-size: 18px;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--primary);
}
