.play_container {
  background-image: linear-gradient(rgb(167, 215, 233), #a6a6c6);
}

.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 50px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-image: linear-gradient(skyblue, #7474c3); */
}

.play_header {
  width: 100%;
  padding: 0 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.play_left_stats {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

.play_right_stats {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.level_wrapper,
.money_wrapper,
.jank_wrapper {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.level_label,
.money_label,
.jank_label {
  padding-right: 10px;
}

.nav_wrapper {
  padding-bottom: 40px;
}

.nav_label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.play_board {
  min-height: 80vh;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}
