.play_container {
  background-image: linear-gradient(rgb(167, 215, 233), #a6a6c6);
}

.main {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-image: linear-gradient(skyblue, #7474c3); */
}

.play_top_nav {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.play_topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--highlight);
}

.play_logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--accent-1);
  text-decoration: none;
  text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.6);
}

.play_userinfo {
  padding: 5px;
}

.user_greeting {
  font-size: 18px;
  margin-bottom: 5px;
}

.user_greeting span {
  /* margin-right: 10px; */
  font-size: 36px;
}

.play_header {
  width: 100%;
  padding: 0 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.play_left_stats {
  order: 1;
  padding: 10px 30px;
  background-color: var(--primary);
  border-radius: 4px;
}

.play_center_nav {
  order: 2;
}

.play_right_stats {
  order: 3;
  padding: 10px 30px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 4px;
}

@media screen and (max-width: 1023px) {
  .play_header {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .play_left_stats {
    order: 1;
  }

  .play_right_stats {
    order: 2;
  }

  .play_center_nav {
    order: 3;
  }
}

.level_wrapper,
.money_wrapper,
.jank_wrapper,
.cred_wrapper {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.level_label,
.money_label,
.jank_label,
.cred_label {
  padding-right: 10px;
}

.nav_wrapper {
  padding-bottom: 40px;
}

.nav_wrapper li {
  margin-bottom: 30px;
  list-style-type: none;
}

.nav_label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.play_board {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.play_link {
  background-color: var(--accent-1);
  padding: 10px 20px;
  border-radius: 3px;
}

.play_link:hover,
.play_link:active {
  background-color: var(--highlight);
  text-decoration: underline;
}
